{# Render a single line label #}
{% macro label(label) %}
{{ label }}:
{% endmacro %}

{# Render a list item value #}
{% macro value(value) %}
    <li>{{ value }}</li>
{% endmacro %}

{# Render a label/value pair #}
{% macro label_value(label, value) %}
<p>{{ label }}: {{ value }}</p>
{% endmacro %}

{% macro label_array(label, value) %}
    {{ label }}:
    <ul>
        {% for val in value %}
            {{ _self.value(val) }}
        {% endfor %}
    </ul>
{% endmacro %}

{% macro recaptcha(recaptcha) %}
    {% if recaptcha.enabled %}

        {% if not recaptcha.valid %}
            <ul class="boltform-error">
                <li class="boltform-errors">{{ recaptcha.error_message }}</li>
            </ul>
        {% endif %}

        <div class="boltform-row">
            <label for="form_message" class="required">{{ recaptcha.label }}</label>
            <script src="https://www.google.com/recaptcha/api.js?hl={{ htmllang() }}" async defer></script>
            <div class="g-recaptcha" data-sitekey="{{ recaptcha.public_key }}"></div>
        </div>

    {% endif %}
{% endmacro %}
