{% form_theme form 'boltforms_fields.twig' %}

{% if error %}
    <p class="boltform-error">{{ error }}</p>
{% endif %}

{% if message %}
    <p class="boltform-message">{{ message }}</p>
{% endif %}

{% if not sent %}
    {% if recaptcha.theme|default('clean') %}
    <script>
        var RecaptchaOptions = {
            theme : '{{ recaptcha.theme }}'
        };
    </script>
    {% endif %}

    <form action="#" method="post" class="boltform boltform-{{ formname }}" enctype="multipart/form-data">
        {{ form_widget(form) }}

        {% if recaptcha.html|default(false) %}
        <div class="boltform-row">
            <label for="form_message" class="required">ReCaptcha</label>
            {{ recaptcha.html|raw }}
        </div>
        {% endif %}
    </form>
{% endif %}
