{# Render a single line label #}
{% macro label(label) %}
{{ label }}:
{% endmacro %}

{# Render a list item value #}
{% macro value(value) %}
    <li>{{ value }}</li>
{% endmacro %}

{# Render a label/value pair #}
{% macro label_value(label, value) %}
<p>{{ label }}: {{ value }}</p>
{% endmacro %}

{% macro label_array(label, value) %}
    {{ label }}:
    <ul>
        {% for val in value %}
            {{ _self.value(val) }}
        {% endfor %}
    </ul>
{% endmacro %}
