{#
 # Passed in variables:
 #   webpath     - URI for the default web assets
 #   base_uri    - Relative base URI for BoltForms download controller
 #   directories - Symfony SplFileInfo object of found directories
 #   files       - Symfony SplFileInfo object of found files
 #}

{% block boltforms_css %}
<link href="{{ webpath }}/boltforms.css" rel="stylesheet" type="text/css" />
{% endblock boltforms_css %}

<div class="boltform boltform-file-browser">
    <table>
        <thead>
            <tr>
                <td scope="column">File Name</td>
                <td scope="column">Size</td>
                <td scope="column">Date</td>
            </tr>
        </thead>
        <tbody>
        {% for file in files %}
            <tr>
                <td scope="row"><a href="{{ base_uri ~ '?file=' ~ file.getRelativePathname|url_encode }}">{{ file.getRelativePathname }}</a></td>
                <td scope="row">{{ file.getSize|number_format }}</td>
                <td scope="row">{{ file.getMTime|date("c") }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
