{% block submission_summary %}
    {%- for fieldname, values in data %}
        {%- set field = attribute(fields, fieldname) %}
        {%- set label = field.options.label|default(fieldname) %}

        <ul>

            {%- if values is iterable %}
                <li>
                    {{ block('field_label') }}
                    {{ block('value_array') }}
                </li>
            {% elseif values.timestamp is defined %}
                {%- set value = values %}
                <li>{{ block('field_label') }}{{ block('field_date') }}</li>
            {%- else %}
                {%- set value = values %}
                <li>{{ block('field_label') }}{{ block('field_value') }}</li>

            {%- endif %}

        </ul>

    {%- endfor %}
{% endblock %}

{% block field_label %}
    {%- if label is not empty %}{{ label }}: {% endif %}
{% endblock %}

{% block field_value %}
    {{- value }}
{% endblock %}

{% block field_date %}
    {{- value|date() }}
{% endblock %}

{% block file_field_value %}
    {%  if value == '' %}
        {{ name }}
    {% else %}
        <a href="{{ value }}">{{ name }}</a>
    {% endif %}
{% endblock %}

{% block value_array %}
    <ul>
        {%- for name, value in values %}
            {%- if value is iterable %}
                {{ block('value_array') }}
            {%- else %}

                <li>
                    {%- if field.type == 'file' %}
                        {{ block('file_field_value') }}
                    {%- else %}
                        {{ block('field_value') }}
                    {%- endif %}
                </li>

            {%- endif %}
        {%- endfor %}

    </ul>
{% endblock %}
